.card {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;

}
.card img{
    border-radius: 10px;
    margin: 10px;
}
.txt_center{
    text-align: center;
}
.card:active{
    filter: blur(1px);
}
a{
    text-decoration: none;
    color: black;

}
