.cards {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    row-gap: 15px;
}
.pages{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pages button{
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background: #3e3f40;
    font-size: 20px;
    color: aliceblue;
    cursor: pointer;
    margin: 0 30px;
}
.pages button:hover{
    background: lightblue;
    border: 1px solid #3e3f40;
    color: black;
}
